
<!-- Navigation -->
<div class="container">
   <nav class="navbar navbar-toggleable-md navbar-inverse  bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Pinterest-RJ</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="all">
            <a class="nav-link {{#if nav_settings.all}} active {{/if}}" href="/">All <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" id="myPins">
            <a class="nav-link {{#if nav_settings.auth}} visible {{else}} invisible {{/if}}  {{#if nav_settings.mypins}} active {{/if}}" href="/mypins">My Pins</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {{#if nav_settings.auth}} visible {{else}} invisible {{/if}}" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add a Pin!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">
                <form class="form-inline" id="form-new-pin" action="/pin" method="POST">
                   <input class="form-control mr-sm-2" name="url" type="text" placeholder="Pin URL">
                   <input class="form-control mr-sm-2" name="title" type="text" placeholder="Pin Title">
                   <input class="form-control mr-sm-2" name="description" type="text" placeholder="Pin Description">
                   <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>                  
                </form>
              </a> 
               <p id="error-lbl"> </p>   
            </div>
          </li>
        </ul>
          <a class="btn btn-outline-secondary my-2 my-sm-0 {{#if nav_settings.auth}} visible {{else}} invisible {{/if}}" id="logout-btn" href="/logout">Logout</a>    
            <a class="btn btn-outline-secondary my-2 my-sm-0  {{#if nav_settings.auth}} invisible  {{/if}} " id="login-btn" href="/auth/twitter">Login Twitter</a>      
      </div>
    </nav>
    </div>

{{#section 'jquery_navigation'}}
    <script type="text/javascript"> 
     
        $('#form-new-pin').submit(function(e) {
              e.preventDefault(); // Keep the form from submitting            
              $.ajax({
                url: '/pin',
                type: 'POST',
                dataType: 'json',
                data: $("#form-new-pin").serialize(),
              })
              .done(function(data) {
               
                  console.log(JSON.stringify(data.error));
                  if (data.redirect) {                  
                      window.location.href = data.redirect;
                  }
                  else 
                  {   
                      var type = JSON.stringify(data.error);
                      console.log(type);
                      if(type == "\"title-error\"")
                          $('#error-lbl').text("Error Title")
                      else  if(type == "\"desc-error\"")
                          $('#error-lbl').text("Error Description")
                      else  if(type == "\"url-error\"")
                          $('#error-lbl').text("Error URL")                        
                  }
                
              })
              .fail(function(err) {               
                console.log("error");
              });
             
              
        })
    </script>
{{/section}}